.tab-bar
{
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.tab-bar > *
{
	flex: 1;

	border: 1px solid black;
	border-top: 0;
	border-bottom: 2px solid black;
	padding: 12px;

	font-size: 16px;

	cursor: pointer;
}
.tab-bar > button
{
	min-width: max-content;
	max-width: max-content;
	flex: 0;

	border-top: 2px solid black;

	background-color: lightgray;
}
.tab-bar > button:hover
{
	background-color: silver;
}
.tab-bar > button.tab-active
{
	border-bottom: 0;
	
	background-color: gray;

	cursor: default;
}
.tab-bar > *:last-child
{
	border-right: 0;
}

.button-list > button
{
	width: 100%;

	border: 3px outset darkgray;
	padding: 16px;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: lightgray;

	text-align: left;
	font-size: 16px;

	cursor: pointer;
}
.button-list > button:hover
{
	background-color: silver;
}