<!DOCTYPE html>



<html lang="en">
	<head>
		<title>COVID Map</title>
		<meta charset="utf-8">

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			  crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
				integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
				crossorigin=""></script>

		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
		<script src="{{url_for('static', filename='scripts.js')}}"></script>
		<!--script src="{{url_for('static', filename='data.js')}}"></script> <!-- TODO: VERY TEMPORARY TESTING DATA -->

		<style>
			html, body {
				height: 100%; /* This makes the page conform to the user's vertical screen space */
				max-height: 100%;
				font-family: Arial, Helvetica, sans-serif
			}
			body {
				margin: 0px;
				display: flex; /* Making the body into a vertical flexbox allows the height of the page-content to fit the screen size */
				flex-direction: column;
				align-items: stretch;
			}
			.header {
				min-height: min-content; /* Header has a fixed height */
				flex: 0;
				border-bottom: 1px solid black;
			}
			.page-content {
				min-height: 0; /* This prevents the page content from overflowing its container and making the entire page scroll
					(possible if the sidebar's content overflows the sidebar). I have no fucking idea why this works but it does */
				flex: 1; /* Page content takes up all vertical space not being used by the header */
				display: flex;
				flex-direction: row; /* The page content is itself a (horizontal) flexbox consisting of the map and the sidebar */
				align-items: stretch;
			}
			.leafmap {
				height: 100%;
				flex: 3; /* The leafmap will take up approx 3/4ths of the horizontal space of the page */
			}
			.leafmap-sidebar {
				height: 100%;
				min-width: 350px; /* Don't let the sidebar shrink too much, TODO: Replace with min-content once the sidebar has stuff in it? */
				flex: 1; /* The sidebar will take up approx 1/4ths of the horizontal space of the page */
				border-left: 1px solid black;
				overflow: auto; /* If the sidebar's content overflows the sidebar,
					make a scrollbar localized to the sidebar rather than making the entire page scroll */
			}
		</style>
	</head>
	
	<body>
		<!-- Header -->
		<nav class="header">
			<h1 style="margin:12px">COVID-19 Data Map</h1>
			<!-- This is where the title, navbar, and related stuff can go -->
		</nav>

		<!-- PAGE CONTENT -->
		<div class="page-content">
			<!-- The actual map -->
			<div id="map-main" class="leafmap"></div>

			<!-- The right info panel -->
			<div class="leafmap-sidebar">
				<div style="margin:12px">
					<h1 id="region-title" style="margin:0"></h1>
					<p id="region-fips" style="margin:0" hidden>FIPS Code: <span id="region-fips-code"></span></p>
				</div>

				<div class="tab-bar">
					<button id="tab-button-back" onclick="back = true; setActiveRegionParent(region_active)" hidden>&lt;</button>
					<button id="tab-button-stats" onclick="tabClickSelect(this, 'tab-content', 'tab-content-stats')">Statistics</button>
					<button id="tab-button-list" onclick="tabClickSelect(this, 'tab-content', 'tab-content-list')">List of Counties</button>
					<div></div> <!-- empty div lets me do fancy stuff with borders teehee -->
				</div>

				<div id="tab-content-stats" class="tab-content">
					<p style="margin:12px">Last updated <span id="stats-date"></span></p>
					<p style="margin:16px; font-size:20px; line-height:150%">
						Population: <span id="stats-population"></span><br />
						Cases: <span id="stats-cases"></span> (<span id="stats-cases-ratio"></span>%)<br />
						Deaths: <span id="stats-deaths"></span> (<span id="stats-deaths-ratio"></span>%)<br />
						Vaccinations: <span id="stats-vaccinations"></span> (<span id="stats-vaccinations-ratio"></span>%)
					</p>
					<div id="history-container">
						<p style="margin:0; border-top:1px solid black; padding:12px; font-size:18px">History</p>
						<div id="history-list" class="button-list">
							<!-- TEMPLATE LIST ITEM - This is captured as a template by the js
								 and cloned to make all the actual list elements -->
							<button style="padding:8px">
								<p style="margin:0">Date: <span class="history-list-date"></span></p>
								<div style="flex:1"></div> <!-- Empty space -->
								<p style="margin:0">
									Cases: <span class="history-list-cases"></span><br />
									Deaths: <span class="history-list-deaths"></span><br />
									Vaccinations: <span class="history-list-vaccinations"></span>
								</p>
							</button>
						</div>
					</div>
				</div>

				<div id="tab-content-list" class="tab-content" hidden>
					<div>
						<div style="margin:6px; display:flex; align-items:center">
							<label for="sort-by">Sort By:&nbsp;</label>
							<select id="sort-by" onchange="updateRegionListSort()" style="flex:1; padding:2px; font-size:14px">
								<option value="name">Name</option>
								<option value="cases">Cases</option>
								<option value="deaths">Deaths</option>
								<option value="vaccinations">Vaccinations</option>
							</select>
							<label style="margin-left:4px; border-left:1px solid black">
								<input type="checkbox" id="sort-descending" onchange="subregions.reverse(); updateRegionList()" checked />Descending Order
							</label>
						</div>
						<div style="margin:6px; display:flex; align-items:center">
							<label for="sort-filter">Filter:&nbsp;</label>
							<input type="text" id="sort-filter" placeholder="Enter Name..." onchange="updateRegionListFilters()" style="flex:1; padding:4px; font-size:14px" />
						</div>
					</div>

					<div id="region-list-all" class="button-list">
						<button onclick="setActiveAllCounties()"><p style="margin:0">All Counties</p></button>
					</div>
					<div id="region-list" class="button-list">
						<!-- TEMPLATE LIST ITEM - This is captured as a template by the js
							 and cloned to make all the actual list elements -->
						<button onclick="setActiveRegionByFips(dataset.fips)">
							<p class="region-list-name" style="margin:0"></p>
							<div style="flex:1"></div> <!-- Empty space -->
							<p class="region-list-data" style="margin:0"></p>
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			const MAP_COLORS = ["#dc4324", "#e1601c", "#e57915", "#e59115", "#e5a81f", "#e2bf30", "#ded546", "#d8ea5f"];

			const MAP_MAIN = L.map("map-main");
			const MAP_MAIN_GEO = L.geoJSON(null, {
				onEachFeature: onEachRegionFeature,
				style: function(feature)
				{
					let region = getRegionFromGeoJSON(feature);
					let data = getRegionDataPicker(region, document.getElementById("sort-by").value) / getRegionPopulation(region);
					data = Math.floor((data - data_min) / (data_max - data_min) * MAP_COLORS.length);
					return {
						color: MAP_COLORS[data < 0 ? 0 : data >= MAP_COLORS.length ? MAP_COLORS.length - 1 : data],
					};
				},
			}).addTo(MAP_MAIN);
			const REGION_ALLCOUNTIES = "all-counties"; // Constant used as active region when "all counties" button is clicked, kinda hacky but fuck it
			var region_active = null;
			var subregions = null;
			var back = false; // yea, this is also hacky. im getting lazy. sue me
			var data_min = Infinity;
			var data_max = 0;

			L.control.layers({
				"Streets": getMapboxTiles("streets-v11").addTo(MAP_MAIN), // This one's the default
				"Outdoors": getMapboxTiles("outdoors-v11"),
				"Light": getMapboxTiles("light-v10"),
				"Dark": getMapboxTiles("dark-v10"),
				"Satellite": getMapboxTiles("satellite-v9"),
				"Satellite Streets": getMapboxTiles("satellite-streets-v11"),
				"Navigation Day": getMapboxTiles("navigation-day-v1"),
				"Navigation Night": getMapboxTiles("navigation-night-v1"),
			}).addTo(MAP_MAIN);

			// TEMPLATE LIST ITEM - make clones with REGION_LIST_TEMPLATE.cloneNode(true)
			const REGION_LIST_TEMPLATE = document.getElementById("region-list").firstElementChild;
			REGION_LIST_TEMPLATE.remove();
			const HISTORY_LIST_TEMPLATE = document.getElementById("history-list").firstElementChild;
			HISTORY_LIST_TEMPLATE.remove();

			/* Example of setting region list
			let region_list = document.getElementById("region-list");
			removeAllChildren(region_list); // First, clear existing children (optional)
			
			let item = REGION_LIST_TEMPLATE.cloneNode(true); // Make a copy
			item.getElementsByClassName("region-list-name")[0].innerHTML = "Anne Arundel County"; // Set its text
			item.getElementsByClassName("region-list-data")[0].innerHTML = "Cases: 420";
			region_list.appendChild(item); // Add it to the list
			*/

			setActiveRegionByName("United States");



			// This function sets what region we should show stats for,
			// as well as what region should be highlighted on the map.
			// Any subregions in the region (ie counties in a state) will be selectable in the map and in the list
			function setActiveRegion(region)
			{
				region_active = region;
				console.log("Called setActiveRegion() for region " + getRegionName(region) + " (fips=" + getRegionFipsCode(region) + ")");

				// Set the titles and the stats
				document.getElementById("stats-date").innerHTML = getRegionLastUpdated(region);
				document.getElementById("region-title").innerHTML = getRegionName(region);
				document.getElementById("stats-population").innerHTML = toLocaleString(getRegionPopulation(region));
				document.getElementById("stats-cases").innerHTML = toLocaleString(getRegionCases(region));
				document.getElementById("stats-cases-ratio").innerHTML = toLocaleRatio(getRegionCases(region), getRegionPopulation(region));
				document.getElementById("stats-deaths").innerHTML = toLocaleString(getRegionDeaths(region));
				document.getElementById("stats-deaths-ratio").innerHTML = toLocaleRatio(getRegionDeaths(region), getRegionPopulation(region));
				document.getElementById("stats-vaccinations").innerHTML = toLocaleString(getRegionVaccinations(region));
				document.getElementById("stats-vaccinations-ratio").innerHTML = toLocaleRatio(getRegionVaccinations(region), getRegionPopulation(region));

				let history = getRegionHistory(region);
				if (history.length == 0)
				{
					document.getElementById("history-container").hidden = true;
				} else
				{
					let history_list = document.getElementById("history-list");
					removeAllChildren(history_list);
					for (let i = 0; i < history.length; i++)
					{
						let item = HISTORY_LIST_TEMPLATE.cloneNode(true);
						item.getElementsByClassName("history-list-date")[0].innerHTML = getHistoryDate(history[i]);
						item.getElementsByClassName("history-list-cases")[0].innerHTML = toLocaleString(getHistoryCases(history[i]));
						item.getElementsByClassName("history-list-deaths")[0].innerHTML = toLocaleString(getHistoryDeaths(history[i]));
						item.getElementsByClassName("history-list-vaccinations")[0].innerHTML = toLocaleString(getHistoryVaccinations(history[i]));
						history_list.appendChild(item);
					}
					document.getElementById("history-container").hidden = false;
				}
				
				document.getElementById("tab-button-back").hidden = !getRegionHasParent(region); // If the region has no parent, hide the back button
				let tab_button_stats = document.getElementById("tab-button-stats");
				let tab_button_list = document.getElementById("tab-button-list");
				tab_button_stats.hidden = false;
				if (back)
				{
					tab_button_list.click();
					back = false;
				} else
				{
					tab_button_stats.click();
				}

				let region_fips = document.getElementById("region-fips");
				switch (getRegionType(region)) // Sets the fips code for states and counties, and sets the title of the List tab
				{
					case 0:
						region_fips.hidden = true; // Countries have no fips code
						tab_button_list.innerHTML = "List of States";
						document.getElementById("region-list-all").hidden = false;
						break;
					case 1:
						region_fips.firstElementChild.innerHTML = getRegionFipsCode(region);
						region_fips.hidden = false;
						tab_button_list.innerHTML = "List of Counties";
						document.getElementById("region-list-all").hidden = true;
						break;
					case 2:
						region_fips.firstElementChild.innerHTML = getRegionFipsCode(region);
						region_fips.hidden = false;
						break;
				}
				tab_button_list.hidden = false;

				// Clear the filter
				document.getElementById("sort-filter").value = "";
				updateRegionListFilters(resetMapBounds);
			}
			// Helper functions
			function setActiveRegionByFips(fips, fail = () => console.warn("Unknown fips code " + fips))
			{ forRegion(fips, setActiveRegion, fail); }
			function setActiveRegionByName(name, fail = () => console.warn("Unknown region name " + name))
			{ forRegionByName(name, setActiveRegion, fail); }
			function setActiveRegionParent(region, fail = () => console.warn("Region " + getRegionName(region) + " has no parent"))
			{
				if (region === REGION_ALLCOUNTIES)
				{
					setActiveRegionByName("United States", fail);
				} else
				{
					forRegionParent(region, setActiveRegion, fail);
				}
			}

			// This is a really ugly way to do this but fuuuuuuck if i can be bothered to do it better
			function setActiveAllCounties()
			{
				region_active = REGION_ALLCOUNTIES;
				console.log("Called setActiveAllCounties()");
				
				document.getElementById("tab-button-back").hidden = false;
				document.getElementById("tab-button-stats").hidden = true;
				let tab_button_list = document.getElementById("tab-button-list");
				tab_button_list.hidden = false;
				tab_button_list.click();
				
				tab_button_list.innerHTML = "List of Counties";
				document.getElementById("region-list-all").hidden = true;
				
				document.getElementById("sort-filter").value = "";
				updateRegionListFilters(resetMapBounds);
			}

			function updateRegionListFilters(then = null)
			{
				subregions = [];
				let filters = document.getElementById("sort-filter").value;
				filters = filters.length == 0 ? [] : filters.toUpperCase().split(MATCH_WHITESPACE); // tokenize filters

				let forEachChildRegion = function(subregion)
				{
					let name = getRegionName(subregion).toUpperCase();
					let name_short = getRegionShortName(subregion);
					if (name_short != null)
						name_short = name_short.toUpperCase();
					for (let i = 0; i < filters.length; i++)
					{
						if (!(name.includes(filters[i]) || (name_short && name_short.includes(filters[i]))))
							return; // if any filters don't match, don't add to the list
					}
					subregions.push(subregion);
				}
				let onFinished = function()
				{
					console.log(subregions.length + " subregions found in " + getRegionName(region_active) + ".");
					updateRegionListSort();

					if (then)
						then();
				}
				let onNoneFound = function()
				{
					console.log("No subregions found in " + getRegionName(region_active) + ".");
					//document.getElementById("tab-button-stats").click(); // should never be needed
					document.getElementById("tab-button-list").hidden = true;
					removeAllChildren(document.getElementById("region-list"));
					MAP_MAIN_GEO.clearLayers();
					let sort_by = document.getElementById("sort-by").value;
					data_min = getRegionDataPicker(region_active, sort_by);
					data_max = getRegionDataPicker(region_active, sort_by);
					let geo = getRegionGeoJSON(region_active);
					if (geo)
						MAP_MAIN_GEO.addData(geo);

					if (then)
						then();
				}

				// kind of hacky but fuck it
				if (region_active === REGION_ALLCOUNTIES)
				{
					forEachCounty(forEachChildRegion, null, null, onFinished);
				} else
				{
					forEachRegionInParent(region_active, forEachChildRegion, onNoneFound, onFinished);
				}
			}

			function updateRegionListSort(then = null)
			{
				//let sort_descending = document.getElementById("sort-descending").checked;
				let sort_by = document.getElementById("sort-by").value;
				switch (sort_by)
				{
					case "name":
						subregions.sort((a, b) => getRegionName(a).localeCompare(getRegionName(b)));
						if (!document.getElementById("sort-descending").checked)
							subregions.reverse();
						break;
					case "cases":
						subregions.sort((a, b) => getRegionCases(a) - getRegionCases(b));
						if (document.getElementById("sort-descending").checked)
							subregions.reverse();
						break;
					case "deaths":
						subregions.sort((a, b) => getRegionDeaths(a) - getRegionDeaths(b));
						if (document.getElementById("sort-descending").checked)
							subregions.reverse();
						break;
					case "vaccinations":
						subregions.sort((a, b) => getRegionVaccinations(a) - getRegionVaccinations(b));
						if (document.getElementById("sort-descending").checked)
							subregions.reverse();
						break;
					default:
						console.error("Invalid sort selection!");
				}
				
				data_min = Infinity;
				data_max = 0;
				for (let i = 0; i < subregions.length; i++)
				{
					let data = getRegionDataPicker(subregions[i], sort_by) / getRegionPopulation(subregions[i]);
					if (!data)
						continue;
					if (data < data_min)
					{
						data_min = data;
					} else if (data > data_max)
					{
						data_max = data;
					}
				}

				updateRegionList();
				MAP_MAIN_GEO.clearLayers();
				for (let i = 0; i < subregions.length; i++)
				{
					let geo = getRegionGeoJSON(subregions[i]);
					if (geo)
						MAP_MAIN_GEO.addData(getRegionGeoJSON(subregions[i]));
				}

				if (then)
					then();
			}

			function updateRegionList(then = null)
			{
				let region_list = document.getElementById("region-list");
				removeAllChildren(region_list); // Clear the list so we can re-insert all the elements
				let sort_by = document.getElementById("sort-by").value;

				// Now we've got a sorted list of subregions, add them all to the list
				for (let i = 0; i < subregions.length; i++)
				{
					let item = REGION_LIST_TEMPLATE.cloneNode(true); // make a new list item and set it up
					let region_list_name = getRegionName(subregions[i]);
					if (region_active === REGION_ALLCOUNTIES)
						region_list_name = region_list_name + ", " + getRegionParentName(subregions[i]);
					item.getElementsByClassName("region-list-name")[0].innerHTML = region_list_name;
					let item_data = item.getElementsByClassName("region-list-data")[0];
					switch (sort_by)
					{
						case "deaths":
							item_data.innerHTML = "Deaths: " + toLocaleString(getRegionDeaths(subregions[i]));
							break;
						case "vaccinations":
							item_data.innerHTML = "Vaccinations: " + toLocaleString(getRegionVaccinations(subregions[i]));
							break;
						default:
							item_data.innerHTML = "Cases: " + toLocaleString(getRegionCases(subregions[i]));
							break;
					}
					item.dataset.fips = getRegionFipsCode(subregions[i]);

					region_list.appendChild(item);
				}

				if (then)
					then();
			}

			function resetMapBounds()
			{
				try
				{
					// Leaflet gets big mad if we try to flyToBounds() before we setView().
					// Why can't it just make the first call to flyToBounds() behave like setView()? I dunno.
					// It also has no way of detecting if setView() has yet been called.
					// So while this is probably not a good way to do this, idfc
					MAP_MAIN.flyToBounds(MAP_MAIN_GEO.getBounds());
				} catch (e)
				{
					MAP_MAIN.fitBounds(MAP_MAIN_GEO.getBounds());
				}
			}

			function getRegionDataPicker(region, data)
			{
				switch (data)
				{
					case "deaths":
						return getRegionDeaths(region);
					case "vaccinations":
						return getRegionVaccinations(region);
					default:
						return getRegionCases(region);
				}
			}

			function onEachRegionFeature(feature, layer)
			{
				let region = getRegionFromGeoJSON(feature);
				if (region === region_active)
				{
					layer.bindTooltip(getRegionName(region));
				} else
				{
					let data;
					switch (document.getElementById("sort-by").value)
					{
						case "deaths":
							data = getRegionDeaths(region);
							data = data ? "<br>Deaths: " + data.toLocaleString() : "";
							break;
						case "vaccinations":
							data = getRegionVaccinations(region);
							data = data ? "<br>Vaccinations: " + data.toLocaleString() : "";
							break;
						default:
							data = getRegionCases(region);
							data = data ? "<br>Cases: " + data.toLocaleString() : "";
					}
					layer.bindTooltip(getRegionName(region) + data);
					layer.on("click", function(e) { return setActiveRegionByFips(getRegionFipsCode(this)); }, region);
				}
			}

			// counties take a long time to load since theres a lot of data, this will prefetch it
			setTimeout(() => fetchCountiesThen((c) => {}), 2000);
		</script>
	</body>
</html>